.container{
  background-color: #3F51B5;
  padding: 20px 50px;
  display: flex;
  flex-direction: row-reverse;
}
.texto-rodape{
  color: #fff;
  margin-left: 10px;
  margin-right: 35px;
  font-size: 15px;
}
